:root {
    --hightlight-color-1: #2b4afa;
    --hightlight-color-1-dark: #2235a3;
    --hightlight-color-2: #fa742b;
    --hightlight-color-3: #ffe985;
    --margin-lr: 1rem;
    --padding-lr: 2rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(135deg, var(--hightlight-color-3) 10%, var(--hightlight-color-2) 100%);
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a,
a:visited {
    color: var(--hightlight-color-1);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3,
table caption {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

small {
    font-size: 0.8em;
}

p,
ul,
ol {
    margin-bottom: 1em;
    margin-top: 0;
}

ul,
ol {
    margin-left: 1em;
}

li {
    margin-bottom: 0.1em;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #cccccc;
    font-size: 0.8em;
    margin: 0;
    overflow: scroll;
    padding: 0;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    margin: 0.5rem 0 0.75rem;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.25em 1em;
}

table th,
.tbsubhead {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

hr {
    height: 0;
    overflow: visible;
    width: 5rem;
    margin: 1rem auto;
    border: none;
    border-top: 0.4rem dotted var(--hightlight-color-1);
}

/*
   General
 */

/* See https://a11yproject.com/posts/how-to-hide-content/ */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.narrow {
    max-width: 100%;
    width: 35rem;
}

.box {
    background-color: #ffffff;
    padding: var(--padding-lr);
    margin: var(--margin-lr);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.hidden,
[hidden] {
    display: none;
}

.badge {
    background-color: var(--hightlight-color-2);
    padding: 0.2rem;
    margin-left: 0.25rem;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1;
    transition: background-color 0.1s ease-in-out;
    display: inline-block;
}

a:hover > .badge,
a:focus > .badge {
    background-color: var(--hightlight-color-1);
}

button,
.button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--hightlight-color-2);
    padding: 0.3rem 0.6rem;
    color: #ffffff;
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    font-size: 0.9em;
    line-height: 1;
    font-weight: bold;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--hightlight-color-1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

button:active,
.button:active {
    background-color: var(--hightlight-color-1-dark);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

.icon--close::before {
    content: "x";
    font-weight: bold;
    font-size: 1rem;
    line-height: 0.8;
}

/**
   Layout
 */

.site-header {
    padding: 1.5rem calc(var(--margin-lr) + var(--padding-lr)) 0;
}

.site-title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    margin: 0;
}

#file-info {
    background-color: #ffffff;
    line-height: 1;
    padding-left: 0.6rem;
    opacity: 1;
    cursor: initial;
    margin-top: 1rem;
    display: inline-block;
}

#file-info.hide {
    opacity: 0;
    cursor: none;
}

.site-intro {
    font-size: 1.1rem;
    padding: var(--padding-lr);
    margin: var(--margin-lr);
    animation: from-left 1s ease-out forwards;
}

.site-intro.hide {
    animation: from-right 1s ease-out reverse forwards;
}

.site-subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin-top: 0;
}

.site-info {
    text-align: center;
    animation: from-right 1s ease-out forwards;
}

.site-info.hide {
    animation: from-left 1s ease-out reverse forwards;
}

.site-info .narrow {
    margin: 0.5em auto;
}

.site-main {
    overflow-x: hidden;
    flex: 1 0 auto;
}

.site-content {
    max-height: initial;
    animation: from-left-delayed 2s ease-out forwards;
}

.site-content.hide {
    animation: from-left 1s ease-out reverse forwards;
}

.site-content.init-hide {
    overflow: hidden;
    max-height: 0;
    animation: none;
}

#module-single {
    opacity: 1;
    cursor: initial;
    transition: opacity 0.3s ease-in-out;
}

#module-single.hide {
    opacity: 0;
    cursor: none;
}

#module-single > h2 {
    margin-top: 0;
}

.hierarchy-list {
    margin: 0;
}

.hierarchy-list,
.hierarchy-list ul {
    padding-left: 1.2rem;
}

.children {
    max-height: 250rem;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    margin-left: 0;
}

.children.hide {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.site-footer {
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: center;
    flex-shrink: 0;
}

#file-form {
    border: 3px dashed #ffffff;
    padding: 1.5rem;
    margin-top: 2rem;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

#file-form.drop-highlight {
    background: radial-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-color: var(--hightlight-color-1);
}

@keyframes from-top {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes from-left {
    0% {
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transform: translateX(-120%);
    }

    33% {
        margin-top: var(--margin-lr);
        margin-bottom: var(--margin-lr);
        padding-top: var(--padding-lr);
        padding-bottom: var(--padding-lr);
        max-height: 37.5rem;
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes from-left-delayed {
    0% {
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transform: translateX(-120%);
    }

    33% {
        margin-top: var(--margin-lr);
        margin-bottom: var(--margin-lr);
        padding-top: var(--padding-lr);
        padding-bottom: var(--padding-lr);
        max-height: 250rem;
    }

    66% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes from-right {
    0% {
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transform: translateX(120%);
    }

    33% {
        margin-top: var(--margin-lr);
        margin-bottom: var(--margin-lr);
        padding-top: var(--padding-lr);
        padding-bottom: var(--padding-lr);
        max-height: 37.5rem;
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (min-width: 37.5rem) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 50rem) {
    .site-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1.5rem;
    }

    #file-info {
        margin-top: 0;
        animation: from-top 1s ease-out forwards;
    }

    #file-info.hide {
        opacity: 1;
        animation: from-top 1s ease-out reverse forwards;
    }

    #file-info.init-hide {
        opacity: 1;
        transform: translateY(-300%);
        animation: none;
    }
}

@media (min-width: 62.5rem) {
    .site-content {
        display: flex;
        flex-direction: row;
    }

    #module-hierarchy,
    #module-single {
        width: calc(50% - 2 * var(--margin-lr));
        flex-shrink: 1;
        flex-grow: 1;
    }
}
